
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
span {
    font-size: 2rem;
    cursor: pointer;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.introduction img {
    width: 250px;
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 20px;
    position: sticky;
    top: 50px;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 20px;
}

#advanced-btn {
    width: 300px;
    background: transparent;
    border: none;
    cursor: default;
    margin-bottom: 500px;
}



body {
    background: linear-gradient(to bottom, #0B1D3F 20%, #3A86FF 50%, #000000 100%);
    min-height: 100%;
    min-width: 100%;
    color: #F2E6C9;
}

.project-js-container, 
.project-html-css-container, 
.project-react-container, 
.project-area  {
     /* div global */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: auto 10px;
    margin-top: 50px;
}

.project-js, .project-html-css, .project-react {
    flex: 0 0 calc(33% - 10px); 
    background: transparent;
    text-align: center;
}

.project-js p, .project-react p, .project-html-css p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.project-js img, .project-html-css img, .project-react img {
    width: 400px;
    margin-bottom: 10px;
    border-radius: 11px;
}
.project-js-item img {
        height: 225px;
    }


.hide {
    display: none;
}

.project-area h1 {
    margin-bottom: 50px;
}

.tecnologyes-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.tecnologyes button {
    margin-left: 10px;
    padding: 1.0rem;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 97, 183);
    border: none;
    border-radius: 11px;
    cursor: pointer;
    color: white;
}

.empty-page .card {
    background-color: #3A86FF;
    color: white;
    height: 150px;
    position: relative;
    margin: 50px auto;
}

.empty-page .card button {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: none;
    position: absolute;
    top: 10px;
    left: 15px;
}

.empty-page .card p {
    font-size: 1.8rem;
}
#exit-container {
    cursor: pointer;
}
.Contacts .card-footer {
    background-color: #354154;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    margin: 50px auto 0px;
    text-align: center;
    padding: 50px 0px;
}

.Contacts .card-footer p {
    margin: 15px;
}

.Contacts .card-footer a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.about-me {
    border: none;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.card {
    background: rgba(255,255,255,0.9);
    color: #000;
    padding: 50px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
}
.resume-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
#cv-btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    margin: 40px;
    width: 200px;
    background-color: rgba(227, 217, 217, 0.125);
    border-radius: 11px;
    border: 1px solid black;
    
}
#cv-btn a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}